/* * {
  padding: 10px;
} */

.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header" "router" "footer";
  grid-template-rows: 20vh 1fr 20vh;
  background-color: #2f4454;
}

header {
  grid-area: "header";
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10vh;
}

nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: 2f4454;
}

.loggedIn {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.loggedIn p,
img {
}

.router {
  grid-area: "router";
}

#loginModal {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 75vw;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
}

.close {
  color: #aaa;
  /* float: right; */
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  grid-area: "footer";
  background-color: #8d8e91;
}

#userImage {
  max-height: 20px;
}

.article {
  background-color: white;
}
