* {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header" "router" "footer";
  grid-template-rows: 20vh 1fr 12vh;
  background-color: white;
  min-height: 100vh;
}

header {
  grid-area: "header";
  background-color: #f13c20;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 8vh;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App > .loader {
  grid-area: "header";
  grid-row-start: 2;
  grid-row-end: 3;
}

#home-image {
  max-height: 92vh;
  max-width: 100%;
}

nav {
  position: fixed;
  min-height: 8vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #4056a1;
  flex-wrap: wrap;
  border-bottom: 2px solid #282c34;
  align-content: center;
}

nav > * {
  margin: 0px;
  flex-shrink: 1;
  flex-basis: 100px;
  min-width: 50px;
  max-height: 8vh;
}

.loggedIn {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loggedIn > * {
  flex-shrink: 1;
  font-weight: bold;
  margin: 0px 0.5rem;
  color: #f13c20;
  max-height: 7vh;
}

.App > .router {
  grid-area: "router";
  background-color: #c5cbe3;
}

#loginModal {
  z-index: 2;
  background-color: white;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 30vh;
  width: 75vw;
  border-radius: 4px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#loginForm {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 87, 161, 0.68);
}

.close {
  float: right;
  font-size: 1.5rem;
  margin-left: 3px;
}

.close:hover,
.close:focus {
  color: #d79922;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  background-color: #4056a1;
}

a,
a:visited {
  color: black;
  text-decoration: none;
}

a,
button,
select,
input[type="submit"] {
  cursor: pointer;
}

footer {
  grid-area: "footer";
  background-color: #f13c20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > * {
  margin: 16px;
}

.route {
  min-height: 100%;
  display: grid;
  grid-template-columns: 15vw 1fr 15vw;
  grid-template-areas: ". content .";
  background-color: white;
}

.content {
  grid-area: content;
  background-color: white;
  box-sizing: border-box;
  padding: 10px 0px;
  margin: 0px;
  border-left: 3px solid #c5cbe3;
  border-right: 3px solid #c5cbe3;
  max-width: 900px;
}

.card {
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 5px 1px;
  border-color: #f13c20;
  box-sizing: border-box;
  margin: 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title extras"
    "created buttons";
  padding: 10px;
  max-width: 858px;
  width: calc(100vw - 30vw - 48px);
}

@media only screen and (max-width: 500px) {
  .route {
    grid-template-columns: 7.5vw 1fr 7.5vw;
  }
  .card {
    margin: 10px;
    width: calc(100vw - 15vw - 28px);
  }
  .content {
    border: none;
  }
  nav {
    justify-content: space-between;
  }
  #mobSingleArticle {
    padding: 10px 0px;
  }
  #mobComment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "author buttons"
      "body body"
      "delete .";
  }
  #mobComment > .articleBody {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 0px;
  }

  #mobComment > .deleteBtn {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 10px 0px 0px 0px;
    max-height: 35px;
    max-width: fit-content;
  }
}

.link {
  grid-area: "title";
  text-decoration-line: none;
  padding: 0px 10px;
}

h2 {
  color: #4056a1;
}

.metadata1 {
  grid-area: "created";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.metadata1 > * {
  margin: 0px;
  color: black;
  padding: 0px 10px;
}

.metadata2 {
  grid-area: "extras";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metadata2 > * {
  padding: 0px 10px;
  margin: 0px;
}

.articlesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100vw;
}

.articlesContainer > * {
  flex-basis: 350px;
  height: 300px;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 400px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

.filters > * {
  padding: 15px;
  margin: 0px;
}

.commentsList {
  display: flex;
  flex-direction: column;
}

.commentsList > * {
  flex-grow: 1;
}

.comment {
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 5px 1px;
  border-color: #f13c20;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 20px 1fr auto;
  grid-template-areas:
    "author body"
    "buttons body"
    "delete body";
  padding: 10px;
  max-width: 80vw;
  align-items: center;
  justify-content: center;
}

.comment > * {
  margin: 0px;
}

.voter {
  grid-area: "buttons";
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  background-color: transparent;
  border: none;
  color: #f13c20;
}

.arrow:disabled {
  color: #f13c2065;
}

.singleArticle {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment > .author {
  grid-area: "author";
}

.comment > .articleBody {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 4;
  padding: 10px;
}

.comment > .deleteBtn {
  grid-row-start: 3;
}

.button:hover,
.button:focus {
  border: 2px solid #f13c20;
}

.toggle {
  align-self: flex-start;
}

.submit {
  align-self: flex-end;
  font-weight: bold;
}

#textarea {
  width: 100%;
  min-height: 100px;
  flex-grow: 1;
}

#commentForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#newComment {
  width: 100%;
  display: flex;
  justify-content: center;
}

#close {
  padding-left: 3px;
  font-size: 1.5rem;
  float: right;
}

#close:hover {
  color: #f13c20;
}

#burger {
  float: right;
  margin: 0 10px;
}

#displayMenu {
  position: absolute;
  top: calc(8vh + 2px);
  width: 100vw;
  background-color: #4056a1;
  display: flex;
  max-height: fit-content;
  flex-direction: column;
  align-items: flex-end;
}

.mobSpan {
  font-weight: bold;
  color: white;
  height: 4vh;
  display: block;
  width: 100vw;
  background-color: #4056a1;
  text-align: right;
  padding: 18px 18px;
}

.mobSpan:visited {
  color: white;
}

#hi {
  display: inline;
}

.loading {
  height: 10px;
}
